<div class="container mt-5 p-2">
  <div class="progress mb-4">
    <div
      class="progress-bar progress-bar-striped"
      role="progressbar"
      [style.width]="progress + '%'"
      [attr.aria-valuenow]="progress"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      {{ progress }}%
    </div>
  </div>

  <h2 class="text-center">{{ language | titlecase }} Quiz</h2>

  <form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
    <div formArrayName="answers">
      <div
        *ngFor="let question of quizQuestions; let i = index"
        class="question"
        [@fadeInOut]
      >
        <p>
          <strong>Question {{ i + 1 }}:</strong> {{ question.question }}
        </p>

        <div *ngFor="let option of question.options">
          <label>
            <input
              type="radio"
              [formControlName]="i.toString()"
              [value]="option"
              (change)="updateProgress()"
            />
            {{ option }}
          </label>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="quizForm.invalid">
      Submit
    </button>
    <button type="button" (click)="reset()" class="btn btn-danger ms-2">
      Reset
    </button>
  </form>
</div>
