<div class="container-fluid">
  <div class="row">
    <section class="col-2 ps-0">
      <img
        src="https://cdn.prod.website-files.com/60aca2b71ab9a5e4ececf1cf/66c58ca03ea3dbff0db98b04_Asset%20Left.svg"
        alt=""
      />
    </section>
    <section class="col-8">
      <div class="hero">
        <div class="header">
          <h3>
            {{ "intro" | translate }}
            <span class="main-color">{{ "span" | translate }}</span>
          </h3>
          <app-quote></app-quote>
        </div>
      </div>
    </section>
    <section class="col-2 pe-0">
      <img
        src="https://cdn.prod.website-files.com/60aca2b71ab9a5e4ececf1cf/66c58ca09cfed2280f16c31d_Asset%20Right.svg"
        alt=""
      />
    </section>
  </div>
</div>
