/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
/* You can add global styles to this file, and also import other style files */
// @font-face {
//   font-family: "DIN Next LT Arabic";
//   src: url("/assets/fonts/din-next-lt-arabic.ttf") format("truetype");
//   font-weight: normal;
//   font-style: normal;
// }

:root {
  --main-color: #74204e;
  --title-color: #bc2d7c;
  --main-color2: #092433;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif !important;
  // font-family: "DIN Next LT Arabic Regular", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cairo", sans-serif !important;
  // font-family: "DIN Next LT Arabic Regular", sans-serif !important;
}

img {
  max-width: 100%;
  height: auto;
}

.mdc-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.11px;
  color: var(--main-color2);
}

.choices {
  [dir="rtl"] .mdc-notched-outline,
  .mdc-notched-outline[dir="rtl"] {
    background-color: white;
  }
}

.main-color {
  color: var(--main-color);
}
